.css-1xkz0he-MuiResponsiveChart-container {
  width: unset !important;
}

.custom-pie-chart {
  fill: white !important;
}

.total-value {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.css-veltv6-MuiPieArc-root {
  /* Your styles here */
  stroke: #fdfafa;
  color: red !important;
}
