.css-1xkz0he-MuiResponsiveChart-container {
  width: unset !important;
}

.total-value h4 {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  width: 90%;
}

.total-value {
  display: flex;
  justify-content: center;
}
