@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Mono:wght@700&display=swap");

:root {
  --primary: #6ece95;
  --secondary: #7df3b4;
  --primary-hover: #3d6f51;
  --secondary-hover: #4c946e;
  --light: #eee;
  --light-alt: #61759b;
  --dark: #0b1017;
  --dark-alt: #131922;
  --box-shadow: 0 0 25px rgba(122, 215, 138, 0.35);
  --transition: all 400ms ease;
  --border-radius: 12px;
  --border-radius-small: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--dark);
  color: var(--light);
}

.App {
  height: 100vh;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  text-transform: uppercase;
  color: var(--light-alt);
}

button {
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom,
    var(--primary),
    var(--secondary)
  );
  color: var(--dark-alt);
  border: none;
  padding: 12px;
  border-radius: var(--border-radius-small);
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  /* transition: var(--transition); */
  margin-top: 18px;
}

button:hover {
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom,
    var(--primary-hover),
    var(--secondary-hover)
  );
}

.btn-secondary {
  background-color: var(--dark);
  background-image: unset;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-secondary:hover {
  border: 1px solid var(--primary-hover);
  color: var(--primary-hover);
  background-color: var(--dark);
  background-image: unset;
}

.spacer {
  height: 100px;
}

input,
label,
select {
  display: flex;
}

input,
select {
  margin-top: 12px;
  padding: 8px;
  height: 38px;
  border-radius: var(--border-radius-small);
  background-color: var(--light-alt);
  border: none;
  color: white;
  font-size: 16px;
  width: 100%;
}

label {
  font-size: 24px;
}

input {
  font-size: 18px;
}

form {
  background-color: var(--dark-alt);
  padding: 22px;
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 45%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.header-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.header-container h1 {
  width: 90%;
}
