.alert {
  padding: 12px;
  margin-bottom: 18px;
  width: 90%;
  max-width: 659px;
  top: 13vh;
  position: absolute;
  z-index: 3;
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, var(--dark-alt), rgb(39 40 59));
}

.alert p {
  font-size: 18px;
  text-align: start;
}

.alert-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-info.success {
  color: var(--primary);
}

.alert-info.fail {
  color: var(--loader-color);
}

.alert-info svg {
  font-size: 24px;
}
