.new-crypto-form-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.new-crypto-form-container form {
  /* position: unset;
  transform: none; */
}
.new-crypto-form-container label {
  margin-bottom: 12px;
}
